* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sidebar-heading {
    font-weight: 600;
}

.list-group-item-action {
    background-color: #7706CD;
}

.list-group-item {
    position: relative;
    list-style: circle;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: var(--bs-list-group-bg);
    border:none;
    font-size: x-small;
}
.custom-list li::before {
    content: "• ";
    color: black; 
    font-size: 20px;
    margin-right: 2px;
}
.bg-purple:hover,
.bg-purple:focus {
    background-color: #7706CD;
    color: white;
}

.bg-purple {
    background-color: #7706CD;
    color: white;
    border-bottom: none;
}

a {
    text-decoration: none;
}

.box-model {
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

.box { 
    padding: 20px; /* Default padding for medium to large screens */
    text-align: center;
    width: 85%;
    height: 90px;
    border-radius: 20px;
    color: white;
    margin: 0 auto;
}

.box h3 {
    font-weight: 600;
    font-size: 25px;
}

.box p {
    font-size: 10px;
}

/* For small screens (mobile) */
@media (max-width: 600px) {
    .box {
        padding: 10px; /* Less padding for small screens */
    }

    .box h3 {
        font-size: 20px; /* Adjust font size */
    }

    .box p {
        font-size: 8px; /* Adjust font size */
    }
}

/* For large screens (desktop) */
@media (min-width: 1200px) {
    .box {
        padding: 30px; /* More padding for large screens */
    }

    .box h3 {
        font-size: 30px; /* Adjust font size */
    }

    .box p {
        font-size: 12px; /* Adjust font size */
    }
}


#fix {
    background-color: #e9e9e9;
}
.chart-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
 
}
.chart-container2 {
    background-color: white;
    padding: 10px 15px 40px ; /* Adjusted padding */
    border-radius: 10px;
    width: 100%; /* Full width of the parent column */
    height: 255px; /* Adjust height to fit your content */
    position: relative;
}
.card-title {
    font-weight: bold; /* Makes the title bold */
    margin-bottom: 5px; /* Adjusted spacing */
}
.card-text {
    font-weight: normal; /* Subtitle style */
    font-size: 0.9em; /* Slightly smaller font size */
}

.btn-group button {
    margin-left: 60px;
    padding: 9px;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
   text-align: justify; 
}

.btn-group .active {
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
}




.box-border{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}




/* Specific Gradient Backgrounds */
.gradient-blue {
    background-image: linear-gradient(to bottom, #4bcbeb, #0e92b2);
}

.gradient-pink {
    background-image: linear-gradient(to bottom, #FE9496, #FE7096);
}

.gradient-yellow {
    background-image: linear-gradient(to bottom, #FFC831, #DB9806);
}

.gradient-purple {
    background-image: linear-gradient(to bottom, #9E58FF, #6A3EA8);
}
.box2, .box3 {
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    border: 1px solid greenyellow; /* Border color for visibility */
    
}

.box2 h3, .box3 h3 {
    
    font-size: 25px;
  
    font-weight: 600;
    margin-bottom: 10px;

}

.box2 p, .box3 p {
    font-size: 11px;
    color: #666; /* Darker text color */
}

/* CSS to make the sidebar fixed */
#sidebar-wrapper {
    position: fixed; /* Fixes the sidebar */
    top: 0; /* Starts at the top of the viewport */
    left: 0; /* Sticks to the left side */
    height: 220vh; /* Full viewport height */
    width: 200px; /* Adjust width as needed */
    overflow-y: auto; /* Allows scrolling within the sidebar if content is too long */
    background-color: #7706CD;
    z-index: 1; /* Keeps the sidebar on top of other content */
}

.col-sty {
    padding: 0; /* Removes padding for better alignment */
    
}

/* Sidebar Styles */
#left {
    background-color: #7706CD;
    min-height: 100%;
    padding: 0;
    margin: 0;
}



